* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    font-size: 62.5%;

    --fonte-primaria: 'Roboto', sans-serif;

    --hue: 194;
    --cor-primaria: hsl(var(--hue), 72%, 13%);
    --cor-secundaria: hsla(var(--hue), 61%, 6%, 0.5);
    --cor-de-fundo: hsl(var(--hue), 0%, 0%);
    --cor-de-fundo-input: hsl(var(--hue), 65%, 7%);
    --cor-de-placeholder-input: hsl(var(--hue), 6%, 51%);

    --cor-borda-tabela: hsl(var(--hue), 31%, 42%);
    
    --cor-botao: hsla(var(--hue), 91%, 25%, 1);
    --cor-botao-remover: #F75A68;
    --cor-texto-primario: #E1E1E6;
    --cor-texto-secundario: #7C7C8A;
    --cor-aviso: hsl(189, 4%, 32%)
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    right: 0;
    top: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body{
    font-size: 1.6rem;    
    background-color: var(--cor-de-fundo);
}

body, button, a{
    color: var(--cor-texto-primario);
}

body * {
    font-family: var(--fonte-primaria);
    
}



#app {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1.6rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11.5rem;
    margin-bottom: 8.7rem;
}

.search{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search input {
    width: 46.2rem;
    height: 4.8rem;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-de-fundo-input);
    padding: 1.6rem;
    font-size: 1.6rem;
    color: var(--cor-de-placeholder-input);
}

.search button{
    background-color: var(--cor-botao);
    color: var(--cor-texto-primario);
    padding: 1.2rem 3.2rem;
    font-weight: bold;
    display: flex;
    gap: .8rem;
    align-items: center;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    transition: background 0.4s, color 0.4s;
    cursor: pointer;
}
.search button i {
    font-size: 2.2rem;
}

.search button:hover{
    background-color: var(--cor-texto-primario);
    color: var(--cor-botao);
}

table {
    width: 100%;      
    border-collapse: collapse; /* espaços entre as celulas (retura)*/    
}

.table-container{    
    border-radius: 1.2rem;
    max-height: 68.8rem;
    background-color: blue;
    border: 1px solid var(--cor-borda-tabela);
    overflow-y: auto; 
}

tbody .juca{
    overflow-y: auto; 
    min-height: 400px;
    width: 100%;
    background-color: red;
}


::-webkit-scrollbar {
    width: 0.6rem;
    
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 6rem;
    height: 100px;
    
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-borda-tabela);
    border-radius: 50px;
    width: 100px;
}




table * {
    font-size: 2rem;
    color: var(--cor-texto-primario);
    font-weight: bold;
}

table th{
    background: var(--cor-primaria);
    text-align: left;
    font-weight: bold;
    padding: 1.6rem 4rem;   
    
}


table td{    
    padding: 1.6rem 4rem;  
    text-align: left;  
    
}

table td:first-child{
    width: 50rem ;
}
table th:first-child{
    width: 50rem;
}

.aviso-inicial {
    width: 100%;
    height: 62.4rem;
    background-color: red;
    
}

.aviso-inicial td{
    width: 100%;
    height: 100%;
    
}

.aviso-inicial div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.aviso-inicial div img{
    width: 12.5rem;
}

.aviso-inicial div h1{
    font-size: 4rem;
    color: var(--cor-aviso);
}

#aviso:not(.aviso-inicial){
    display: none;
}


/* arredondar contos tabela - parte superior */
table th:first-child{
    border-top-left-radius: 1.2rem;
    
}
table th:last-child{
    border-top-right-radius: 1.2rem;
}

/* tudo que for impar */
table tr:nth-child(odd){
    background: var(--cor-secundaria);
}

/* tudo que for par */
table tr:nth-child(even){
    background: var(--cor-de-fundo-input);
    
}
table tr:not(:first-child) {
    border-top: 1px solid var(--cor-borda-tabela); /* Bordas nas linhas horizontais, exceto na primeira linha */
}

td.usuario {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
}

td.usuario a{
    text-decoration: none;
}

td.usuario a p {
    font-weight: bold;
    line-height: 160%;
}

td.usuario a span{
    font-weight: 400;
}

td .btn-remover{
    background: none;
    border: none;
    color: var(--cor-botao-remover);
    cursor: pointer;
}

td.usuario img{
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}